.size{
    width: 22rem;
}

.bg-color{
    background-color: #1e1c28;
}

.desc{
    color: #828bae;
}

.social-medium-bg{
    background-color: #828bae9a;
}
.social-medium-bg:hover{
    background-color: #828baed2;
}

.tag{
    background-color: rgba(130, 139, 178, 0.3);
    color: #828bb2;
}
.tag:hover{
    background-color: rgba(130, 139, 178, 0.5);
    color: white;
}