<div *ngIf="post" class="w-full  flex p-12 max-w-screen-xl">
    <main class="w-3/4 flex flex-wrap h-full mr-4">
        <div class="w-full flex-col shadow-xl shadow-slate-100 preview bg-cover flex items-end justify-end bg-center mb-2 mr-4 mb-28">
            <div class="w-full bg-white">
                <img class="max-h-full min-w-full" src="{{post.image}}" alt="post image">
                <h1 class="w-full mb-8 mt-8 text-4xl  ">{{post.title}}</h1>
            </div>
            <div class="flex w-full mb-8">
                <div class="flex">
                    <a routerLink="/tag/{{tag.description}}" class="tag-bg p-1 px-2 h-8 text-sm uppercase mr-2 rounded-full" *ngFor="let tag of post.tags">{{tag.description}}</a>
                </div>
                <div class="w-full flex justify-end">
                    <div class="flex flex-col">
                        <span class="text-sm text-right">{{post.user.userName}}</span>
                        <span class="text-xs text-right">{{post.publishedAt | date}}</span>
                    </div>
                    <img class="ml-4 h-8" src="{{post.user.profilePicture}}" alt="">
                </div>
            </div>
            <div [innerHTML]="format(post.content)" id="content"></div>
        </div>
        <div class="w-full">
            <h3 class="text-xl">Comments</h3>

            <div class="mt-4 w-full">
                <app-post-comment *ngFor="let comment of post.comments" [comment]="comment"></app-post-comment>
            </div>
        </div>
        <app-post-comment-form (onFormSubmited)="onCommentFormSubmmit($event)" class="w-full"></app-post-comment-form>
    </main>
    <app-client-sidebar></app-client-sidebar>
</div>