<div 
[ngStyle]="{'background-image': getUrl()}" class="shadow-xl shadow-slate-100 preview bg-cover flex items-end justify-end bg-center mb-2 mr-4 mb-28">
    <div class=" bg-white p-2 w-3/4">
        <h4 class="text-sky-800 mb-2 hover:text-sky-600"><a routerLink="./posts/{{post.slug}}">{{post.title}}</a></h4>
        <p class="text-xs text-neutral-400 mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sit, facilis cum consequatur iusto quae perferendis sint pariatur, ipsam nobis eos magnam. Impedit provident molestias doloremque totam accusamus reiciendis exercitationem!</p>
        <span class="text-xs text-neutral-400">{{post.publishedAt | date}}</span>
    </div>
</div>